version: '3.4'

services:
  database:
    image: '${MYSQL_IMAGE:-mysql:8.0-oracle}'
    container_name: ${COMPOSE_PROJECT_NAME:-unnamed}_database
    command: '--federated --default-authentication-plugin=mysql_native_password'
    cap_add:
      - SYS_NICE
    environment:
      LANG: 'C.UTF-8'
      MYSQL_ROOT_PASSWORD: '${DATABASE_ROOT_PASSWORD:-root}'
      MYSQL_USER: '${DATABASE_USER:-application}'
      MYSQL_PASSWORD: '${DATABASE_PASSWORD:-application}'
      MYSQL_DATABASE: '${DATABASE_NAME:-application}'
      MYSQL_ROOT_HOST: '${DATABASE_ROOT_HOST:-%}'
    volumes:
      - '${MYSQL_CONFIG_DIR:-.}/docker/mysql/initdb.d:/docker-entrypoint-initdb.d:ro'
      - '${MYSQL_CONFIG_DIR:-.}/docker/mysql/conf.d/app.cnf:/etc/mysql/conf.d/app.cnf:ro'
      - 'mysql-data:/var/lib/mysql:delegated'
    ports:
      - '${MYSQL_BIND_HOST:-0.0.0.0}:${MYSQL_BIND_PORT:-3306}:3306'
    restart: always
    healthcheck:
      test: "mysqladmin ping --silent -u$${MYSQL_USER} -p$${MYSQL_PASSWORD}"
      start_period: 60s
      interval: 5s
      retries: 15
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
volumes:
  mysql-data:
    driver: local
